body, html {
    height: 100%;
}

nav {
  background: #3B2884;
}

.space-top {
  margin-top: 60px;
  margin-bottom: 30px;
}

.userView h4 {
  color: #3B2884;
}

footer {
  padding: 20px;
  background-color:#3B2884;
  color: white;
  text-align: center;
}

.wrapper {
  padding-left: 300px;
}

.main {
  padding: 40px;
}

@media only screen and (max-width : 992px) {
  .wrapper {
    padding-left: 0;
  }
}

.bg {
background-image: url("../img/background.jpg");

/* Full height */
height: 50%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: top;
background-repeat: no-repeat;
background-size: contain;
}

p, .slab {
  font-size: 20px;
}

b {
  font-weight: 600;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #3B2884;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -10px;
}

h4 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
}

h5 {
  padding-top: 20px;
}

.tile {
  height: 300px;
  background: #3B2884;
  margin-bottom: 60px;
}

.tile h1 {
  padding-top: 100px;
  color: white;
  margin-top: 0px;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 60px;
  color: #3B2884;
}

.usecases img {
  padding: 20px;
  margin:0 auto;
  display:block;
  width: 70%;
}

.table {
  max-width: 1200px;
  margin: 0 auto;
}

.sm td {
  font-size: 13px;
}
