p, .slab {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  color: #212121;
}

b {
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -10px;
}

.text {
  max-width: 800px;
  margin: 0 auto;
}

.tile {
  height: 300px;
  background: #3B2884;
  margin-bottom: 60px;
}

.tile h1 {
  padding-top: 100px;
  color: white;
  margin-top: 0px;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 60px;
}
