body, html {
    height: 100%;
}

.parallax {
/* The image used */
background-image: url("../img/background.jpg");

/* Full height */
height: 50%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: top;
background-repeat: no-repeat;
background-size: contain;
}

nav {
  background-color:#3B2884;
  opacity:0.9;
  position: fixed;
  z-index:9999;
}

p, .slab {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

b {
  font-weight: 600;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #3B2884;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -10px;
}

h4 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 24px;
}

h5 {
  padding-top: 20px;
}

.text {
  max-width: 800px;
  margin: 0 auto;
}

.tile {
  height: 300px;
  background: #3B2884;
  margin-bottom: 60px;
}

.tile h1 {
  padding-top: 100px;
  color: white;
  margin-top: 0px;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  margin-top: 60px;
  color: #3B2884;
}

.usecases img {
  padding: 20px;
  margin:0 auto;
  display:block;
  width: 70%;
}

.table {
  max-width: 1200px;
  margin: 0 auto;
}

.sm td {
  font-size: 13px;
}
